:root {
  --white: #fff;
  --gray-100: #c4c4c4;
  --gray-200: #7d7d7d;
  --gray-300: #585858;
  --blue: #00c8ff;
  --blue-100: #79e8ff;
  --black: #000;
  --black-100: #303030;
  --black-200: #100d0e;
  --red: #c70039;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
